// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #f1b648;
$orange: #e28432;
$green: #22f093;
$gray: #0E0000;
$light-gray: #F4F4F4;
$coins-pink: #CC428A;
$coins-dark-purple: #7528A8;
$coins-dark-grey: #151515;
$coins-grey: #202020;
