// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #f1b648;
$orange: #e28432;
$green: #22f093;
$gray: #0E0000;
$light-gray: #F4F4F4;
$coins-pink: #CC428A;
$coins-dark-pink: #a1346c;
$coins-dark-purple: #7528A8;
$coins-dark-grey: #151515;
$coins-grey: #3b3b3b;

// For Irvin
$color-1: rgb(255, 189, 8);
$color-2: rgb(255, 131, 8);
$color-3: rgb(255, 8, 99);
$color-4: rgb(147, 0, 113);;
$color-5: rgb(214, 28, 205);
$color-6: rgb(181, 33, 255);
$color-7: rgb(117, 32, 255);
$color-8: rgb(32, 143, 255);
$color-9: rgb(32, 233, 255);
$color-10: rgb(33, 255, 197);
