// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

@font-face {
  font-family: InternalRainbows;
  src: url('InternalRainbows.otf');
}

.font-rainbows {
  font-family: "InternalRainbows";
}

h1 {
 font-size: 40px;
 color: white;
 margin-top: 10px;
 margin-bottom: 10px;
}

h2 {
  font-size: 40px;
  color: white;
}

.title-card {
  font-size: 36px;
  color: white;
}

.sub-title {
  font-size: 16px;
  color: white;
}

.sub-title-team {
  font-size: 16px;
  color: black;
}

.first-title {
  font-size: 60px;
  color: white;
}

.title {
  font-size: 40px;
  color: rgb(199, 74, 227);
}

.font-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  text-align: center;
  color: white;
  text-decoration: none;
}

.exemple {
  font-size: 12px;
  color: white;
}

.adresse {
  font-size: 12px;
  color: white;
}
