.bg-dark-grey {
  background-color: $coins-dark-grey;

  h2 {
    color: white;
    font-size: 32px;
    font-family: "InternalRainbows";
  }
}

.bg-grey {
  background-color: $coins-grey;
}

.overview-address {
  background-color: $coins-dark-grey;
  color: white;
  border-radius: 20px;
  width: 250px;
  min-height: 47vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .name {
    font-size: 24px;
    font-weight: 500;
  }

  .address {
    font-size: 12px;
    color: grey;
  }

  .separate {
    margin: 20px;
    border: 1px solid #3b3b3b;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .balance {
    font-size: 16px;
    margin-top: -10px;
  }
}

.crypto-icon {
  background-color: $coins-grey;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 50px;
  }
}

.transactions > div > i {
  font-size: 40px;
}

.card-transaction-large {
  color: white;
  background-color: $coins-grey;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 20px;
}

.chart-address {
  width: 75%;
}

.transactions-height {
 min-height: 250px;
}

#btn-plus {
  margin-top: -10px;
}
