
<div class="container-fluid profile-container mt-5 pt-3">
  <div class="row d-flex justify-content-center container-banner">
    <div class="col-md-7">
      <div class="card-profile-banner p-3 py-4">
        <div class="text-center">
         <%= image_tag("homme-photo.png", size: '16x10')  %>
        </div>
        <div class="text-center mt-3">
          <h2 class="mt-2 mb-0 profile-name"> Boistault Enzo</h5>
          <p class='profession-title'>UI / UX Designer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-content d-flex justify-content-center">
    <div class="wallets">
        <h1 class='font-rainbows'> Wallets</h1>
        <% @user_portfolios.each do |portfolio| %>
          <div class="container-portfolio-profile mt-3">
            <%= image_tag("btc2.png", class: "img-portfolio")%>
            <h4 class="text-card-wallet"> <%= portfolio.name.capitalize %></h4>
            <h4 class="text-card-wallet"> : </h4>
            <h4 class="text-card-wallet">86</h4>
            <h4 class="text-card-wallet">addresses</h4>
            <i class="fas fa-trash m-3"></i>
          </div>
        <% end %>
    </div>
    <div class="chart-view">
      <h1 class='font-rainbows'>View</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor tenetur quibusdam, atque porro quidem possimus recusandae quis assumenda minima aut, obcaecati blanditiis nobis. A alias rerum necessitatibus perferendis perspiciatis pariatur!</p>
    </div>
  </div>
</div>
