<div class="banner" style="background-image: url(<%= image_path('background-color.jpg') %>); padding-inline: 2.5vw; height: 63vh; padding-top: 115px;">
  <div class="d-flex justify-content-around">
    <div class="bg-dark-grey d-flex align-items-center" style="height: 45vh; width: 90vw; border-radius: 20px;">
      <canvas id="portfolioCanvas" aria-label="chart" role="img" class="my-auto">
        <h1> TOTAL BITCOIN</h1>
      </canvas>
    </div>
  </div>
</div>

<div class="bg-dark-grey">
  <div class="container p-5">
  <div class="row">
  <h2><%= @portfolio.name %></h2>
  <div class="col-12 col-lg-6">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-pink my-4">ADDRESSES</h3>
      <a href="#" class="d-flex link-white mx-4">
        <i class="fa-solid fa-arrow-left p-1"></i>PROFILE
      </a>
    </div>
      <div class="addresses-grid">
        <% @portfolio.addresses.each do |address| %>
          <div class="container-address">
            <div class="icone-title">
              <%= image_tag("btc.png", class: "img-bitcoin") %>
              <h2><strong>BITCOIN</strong></h2>
            </div>
            <div class="key-balance">
              <p><%= "#{address.public_key[0..7]}...#{address.public_key[-8..-1]}" %></p>
              <h2><strong>12322$</strong></h2>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <div class="col-12 col-lg-6">
      <h3 class="text-pink my-4">RECENT TRANSACTIONS</h3>
      <div class="transactions">

      </div>
    </div>
  </div>
  </div>
</div>
