<footer class="footer">
  <div class="container mg-5 footer-links">
    <div class="sizeiconefooterV0"><p>© 2023 Coins, Inc. All rights reserved</p></div>
    <div class="sizeiconefooterV1"><a href="https://github.com/etoriaz/coins"><i class="fab fa-github"></i></a></div>
  </div>
</footer>
