<div class="navbar navbar-expand-sm navbar-lewagon display-nav">

  <div><h1><%= link_to "COINS", root_path, class:"font-rainbows logo"%></h1>
  </div>

  <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>

  <% else %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="navbar-items">
            <a><%= link_to "Sign In", new_user_registration_path, class:"btn-home-white font-btn"%></a>
          </li>
          <li class="navbar-items">
            <a><%= link_to "Log In", user_session_path, class:"btn-home-white font-btn"%></a>
          </li>
      </ul>
    </div>
  <% end %>
</div>
