<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <h1 class="font-rainbows logo">COINS</h1>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="navbar-items">
            <a class="btn-home-white font-btn" href="#">Sign In</a>
          </li>
          <li class="navbar-items">
            <a class="btn-home-white font-btn" href="#">Connexion</a>
          </li>
      </ul>
    </div>
  </div>
</div>
