<div class="container-address">
  <div class="icone-title">
    <%= image_tag("btc.png", class: "img-bitcoin") %>
    <h2><strong>BITCOIN</strong></h2>
  </div>
  <div class="key-balance">
    <p>1KK954BCS4NuKmp...</p>
    <h2><strong>12322$</strong></h2>
  </div>
</div>

<div class="container-transaction">
  <div class="top-transaction">
    <p><strong class="strong-white">FROM : </strong>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</p>
    <p class="strong-white"><strong>8h02 - 01/03/2023</strong></p>
  </div>
    <p><strong class="strong-white">TO : </strong>1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2</p>
  <div class="bottom-transaction">
      <p class="btc-yellow"><strong>0,635142 BTC</strong></p>
      <p class="loading"><strong>PENDING</strong></p>
  </div>
</div>

<div class="container-team">
  <div class="team-left">
    <h3><strong>LAFARGUE</strong></h3>
    <h3><strong>Thibault</strong></h3>
    <p class="status-grey">Lead Dev</p>
  </div>
  <%= image_tag("thibault-photo.png", class: "img-team")%>
</div>

<div class="container-portfolio">
  <%= image_tag("btc2.png", class: "img-portfolio")%>
  <h4 class="text-white">TOP 50 CRYPTO TRADER</h4>
  <h4 class="text-white"> : </h4>
  <h4 class="text-white">86</h4>
  <h4 class="text-white">addresses</h4>
  <i class="fas fa-trash m-3"></i>
</div>

