.banner {
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 90px;
  min-height: 47vh;
  padding-left: 8%;
  padding-right: 8%;
  justify-content: space-between;

}

.img-banner {
  width: 510px;
  height: 490px;
  left: 856px;
  top: 104px;
}

.img-align {
  display: contents
}
