.btn-home-white {
  color: #FFFFFF;
  padding: 8px 24px;
  border-radius: 35px;
  border: 3px solid #FFFFFF;
  transition: .3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
  }
}

.start-btn {
  width: 120px;
  display: flow-root;
  margin-top: 130px;
  transition: .3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
  }
}


.violet-btn {
  color: white;
  font-size: 18px;
  display: flow-root;
  width: 90px;
  height: 37px;
  background-color: rgb(199, 74, 227);
  border: none;
  border-radius: 12px;
  transition: .3s;

  &:hover {
    background-color: rgba(199, 74, 227, 0.3);
    color: #FFFFFF;
  }
}
