.btn-home-white {
  color: #FFFFFF;
  padding: 8px 24px;
  border-radius: 35px;
  border: 3px solid #FFFFFF;
  transition: 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
  }
}

.btn-navbar {
  color: white;
  font-size: 20px;
  height: 74px;
  width: 110px;
  transition: 0.3s;
  padding: 10%;
  display: grid;
  align-items: center;
  color: white;
  text-decoration: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
  }
}

.btn-navbar2 {
  color: white;
  font-size: 20px;
  height: 74px;
  width: 124px;
  transition: 0.3s;
  padding: 10%;
  display: grid;
  align-items: center;
  color: white;
  text-decoration: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
  }
}

.start-btn {
  width: 120px;
  display: flow-root;
  margin-top: 130px;
  transition: 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
  }
}


.violet-btn {
  color: white;
  font-size: 18px;
  display: flow-root;
  width: 90px;
  height: 37px;
  background-color: rgb(199, 74, 227);
  border: none;
  border-radius: 12px;
  transition: 0.3s;

  &:hover {
    background-color: rgba(199, 74, 227, 0.3);
    color: #FFFFFF;
  }
}

.btn-pink {
  color: white;
  background-color: $coins-pink;
  border: none;
  font-size: 18px;
  border-radius: 12px;
  padding: 8px 16px;
  transition: .3s;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: white;
    background-color: $coins-dark-pink;
  }
}
