.container-address {
  background-color: #2D2D2D;
  border-radius: 20px;
  box-shadow: black 0px 20px 30px -10px;
  width: 286px;
  height: 89px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;

  &:hover {
    background-color: $coins-pink;
  }

  h2 {
    padding-left: 5px;
    font-family: "Nunito" !important;
    font-size: 18px !important;
  }
}

.icone-title {
  display:flex;
  align-items: center;

  h2 {
    margin-bottom: 0;
  }
}

.key-balance {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  p {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
  }
}

h2 {
  font-size: 12px;
  color: white;
}

p {
  font-size: 12px;
  color: rgb(156, 156, 156);
}

.img-bitcoin {
  width: 27px;
  height: 27px;
}

.addresses-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
