.container-portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2D2D2D;
  border-radius: 20px;
  box-shadow : 5px 5px 0.5em 0.5em gray;
  width: 685px;
  height: 59px;
  padding: 10px;
}

.img-portfolio {
  width: 40px;
  height: 40px;
}

.text-white {
  color: white;
  font-size: 16px;
  margin-bottom: 0;
}

// Card portfolio for the profile page (/portfolios)

.container-portfolio-profile {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2D2D2D;
  border-radius: 20px;
  box-shadow: black 0px 20px 30px -10px;;
  width: 90%;
  height: 59px;
  padding: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

.container-banner {
  background-image: url('banner-crypto2.png');
  margin: 30px 50px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.profile-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 30px;
  background: black;
}

.text-card-wallet {
  color: white;
  font-size: 12px;
  margin-bottom: 0;
}
.profession-title {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}
.profile-name {
  color: white;
  font-size: 25px;
  margin-bottom: 0;
}

.profile-image {
  border-radius: 50px;
  border: 1px solid #FFFF;
  object-fit: cover;
}

.profile-container {
  background-color: #d63384;
  background-image: url('background-color.jpg');
}

.wallets {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  justify-items: center;
}

.chart-view {
  margin-top: 25px;
  margin-left: 1em;
  margin-right: 3em;
}

.profile-banner {
  background-color: black;
}

.fonts{
  font-size:11px;
}


.plus-link {
  background-color: #C74AE3;
  border: none;
  border-radius: 4%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80px;
  text-decoration: none;
  margin-top: 4px;
}

.plus-link span {
  font-size: 25px;
  padding: 10px
}

.wallet-button {
  display: flex;
  justify-content: space-between;
  margin-top: 25px
}

// Chart CSS on portfolio
.chartCard {
  width: 50vw;
  background: (255, 26, 104, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px
}

.chartBox {
  width: 100%;
  height: 70vh;
  border-radius: 20px;
  border: solid 3px rgba(199, 74, 227, 1);
  background: white ;
  }
  
.banner-profil {
  margin-top: 105px;
  margin-left: 30px;
  margin-right: 30px;
}

.title-wallet {
  padding-top: 15px;
  margin-left: 15px;
}

.background-color {
  background-color: #151515;
}

.list-info {
  width: 150px;
  text-align: end;
}

.list-info-title {
  width: 150px;
  text-align: start;
}
