.container-transaction {
  background-color: #2D2D2D;
  border-radius: 20px;
  box-shadow: black 0px 20px 30px -10px;
  width: 652px;
  height: 99px;
  padding: 20px;
  line-height: 10px;
}

.top-transaction {
  display: flex;
  justify-content: space-between;
}

.bottom-transaction {
  display: flex;
  justify-content: space-between;
}

.btc-yellow {
  color: #f1b648;
  font-weight: 600;
  font-size: 15px;
}

.loading {
  color: #e28432;
  font-weight: 400;
}

.strong-white {
  color: white;
}
