// BANNER //
.container-portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2D2D2D;
  border-radius: 20px;
  box-shadow : 5px 5px 0.5em 0.5em gray;
  width: 685px;
  height: 59px;
  padding: 10px;
}

.img-portfolio {
  width: 40px;
  height: 40px;
}

// Card portfolio for the profile page (/portfolios)

.container-banner {
  background-image: url('crypto-background-profile.jpg');
  margin: 30px 50px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.profession-title {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}
.profile-name {
  color: white;
  font-size: 25px;
  margin-bottom: 0;
}

.profile-image {
  border-radius: 50px;
  border: 1px solid #FFFF;
  object-fit: cover;
}

.profile-container {
  background-color: #d63384;
  background-image: url('background-color.jpg');
}

.wallets {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  justify-items: center;
}

.profile-banner {
  background-color: black;
}

.fonts{
  font-size:11px;
}

.plus-link {
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.plus-link span {
  font-size: 25px;
  text-align: center;
  height: 28px;
  width: 50px;
  margin-bottom: 14px;
}

.banner-profil {
  margin-top: 105px;
  margin-left: 30px;
  margin-right: 30px;
}

.title-wallet {
  padding-top: 15px;
  margin-left: 15px;
  color: rgb(199, 74, 227);
}

.background-color {
  background-color: #151515;
}

.title-view {
  padding-top: 15px;
  color: rgb(199, 74, 227);
}

#value-crypto-card {
  font-size: 20px;
  color: white;
}


// Form around view and adresse //

.width-wallet {
  width: 100%;
}
.wallet-button {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  transition: 0.3s;
  height: 32px;
  width: 50px;
  border-radius: 8px;
  background-color: #CC428A;

  &:hover {
    background-color: $coins-pink;
  }
}

// Addresses CSS on portfolio //

.profile-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 30px;
  background: black;
}
.container-portfolio-profile {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2D2D2D;
  border-radius: 20px;
  box-shadow: black 0px 20px 30px -10px;
  width: 100%;
  height: 59px;
  padding: 10px;
  transition: 0.5s;

  &:hover {
    background-color: $coins-pink;
  }
}
.list-info-title {
  display: flex;
  text-align: start;
  align-items: center;
}
.img-portfolio {
  width: 40px;
  height: 40px;
}
.text-card-wallet {
  color: white;
  font-size: 12px;
  margin-bottom: 0;
}
#num {
  color: white;
  font-size: 12px;
  margin-bottom: 0;
  margin-right: 8px;
}
.list-info {
  display: flex;
  text-align: end;
  margin-left: auto;
  margin-right: 30px;
}

// Chart CSS on portfolio //

.chart-view {
  width: 100%;
  margin-left: 30px;
}

.display-title-x-button {
  display: flex;
  justify-content: space-between;
}

.chartCard {
  background: (255, 26, 104, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.chartBox {
  width: 100%;
  height: 70vh;
  border-radius: 20px;
  background: $coins-grey ;
  box-shadow: black 0px 20px 30px -10px;
}

#viewCanvas {
  width: 80%;
  min-height: 450px;
  margin-top: 2em;
}

//////
