// CARD TRANSACTION V1
.container-transaction {
  background-color: $coins-grey;
  border-radius: 20px;
  box-shadow: black 0px 20px 30px -10px;
  width: 100%;
  height: 99px;
  padding: 20px;
  line-height: 10px;
}

.top-transaction {
  display: flex;
  justify-content: space-between;
}

.bottom-transaction {
  display: flex;
  justify-content: space-between;
}

.btc-yellow {
  color: #f1b648;
  font-weight: 600;
  font-size: 15px;
}

.loading {
  color: #e28432;
  font-weight: 400;
}

.strong-white {
  color: white;
}

// CARD TRANSACTION V1
.container-transaction-v2 {
  background-color: $coins-grey;
  border-radius: 10px;
  box-shadow: black 0px 20px 30px -10px;
  width: 90%;
  height: 50px;
  padding: 20px;
  line-height: 10px;
  align-content: center;
  justify-content: space-between;
  margin-left: 5%;
}

.display-v2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
