.container-address {
  background-color: #2D2D2D;
  border-radius:15px;
  box-shadow: black 0px 20px 30px -10px;
  height: 69px;
  padding: 10px 7px 10px 5px;
  display: flex;
  justify-content: space-around;
  transition: 1s;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: $coins-pink;
  }

  h2 {
    padding-left: 5px;
    font-family: "Nunito" !important;
    font-size: 18px !important;
  }
}

.icone-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -5px;
}

.key-balance {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h2 {
  font-size: 12px;
  color: white;
}

p {
  font-size: 12px;
  color: rgb(156, 156, 156);
}

.img-bitcoin {
  width: 40px;
  height: 35px;
}

.addresses-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.add-card {
  font-size: 50px;
  text-align: center;
  color: white;
}

.value-variante {
  font-size: 8px;
  color: white;
}

.element-value {
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 2px;
  margin-top: -5px;
}

#title-btc {
  margin-bottom: 0;
}

#paragraphe-card {
  font-size: 10px;
  margin-bottom: -5px;
  margin-top: -7px;
  margin-left: 8px;
  padding-top: 9px
}

#value-crypto-card-address {
  font-size: 15px;
  color: white;
  margin-bottom: -10px;
  margin-top: -7px;
  margin-right: -12px;
}

.icone-value-neg {
  font-size: 8px;
  color: rgb(255, 0, 0);
  margin: 5px;
}
.icone-value-plus {
  font-size: 8px;
  color: rgb(0, 255, 177);
  margin: 5px;
}

.delete-button-address {
  z-index: 10;
}

.clickable {
  cursor: pointer;
}

.formcontainerbugfix {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
