.team {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  height: 100%;
}

.format-title-team {
  padding-left: 6%;
  padding-bottom: 20px;
}

.display-card {
  display: flex;
  justify-content: space-between;
}

.container-team {
  display: flex;
  width: 283px;
  height: 161px;
  background-color: #E6E6E6;
  border-radius: 20px;
  box-shadow: 1px 1px 7px 1px white;
  position: relative;
}

.status-grey {
  color: gray;
}

.img-team {
  position: absolute;
  bottom: 0px; right: 0px;

  width: 149px;
  height: 100%;
  padding-right: 10px;
  object-fit: cover;
}

.team-left {
  padding-top: 15px;
  padding-left: 15px;
}

.forma-card-team {
  margin-bottom: -3px;
}
