.container-address {
  background-color: #0E0000;
  border-radius: 20px;
  box-shadow : 5px 5px 0.5em 0.5em gray;
  width: 286px;
  height: 89px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h2 {
    padding-left: 5px;
  }
}

.icone-title {
  display:flex;
}

.key-balance {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  p {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
  }
}

h2 {
  font-size: 12px;
  color: white;
}

p {
  font-size: 12px;
  color: rgb(156, 156, 156);
}

.img-bitcoin {
  width: 27px;
  height: 27px;
}
