.footer {
  background: #151515;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  border: #151515;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 0.3s;

  &:hover {
    color: rgb(199, 74, 227);
    font-size: 30px;
  }
}

.sizeiconefooterV0 {
  width: 220px;
  align-items: center;
}

.sizeiconefooterV1 {
  width: 220px;
  text-align: end;
}
