.banner-add{
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-left: 12% ;
  padding-right: 12% ;
  justify-content: space-between;
}

.banner {
  position: relative;
}

.imgform {
  width: 580px;
  height: 435px;
}

.search-go {
  margin-top: 15px;
}

.title-search {
  text-align: end;
}

.back-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.iframe {
  height: 400px;
  background-color: none;
}

.cache-logo {
   position: absolute;
   background-color: rgb(21, 21, 21);
   z-index: 2;
   bottom: 20px;
   right: 20px;
   width: 137px;
   height: 49px;
 }

.position-cache {
  position: relative;
}

.violet-btn-home {
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    width: 100px;
    height: 30px;
    padding: 2px 24px;
    background-color: rgb(199, 74, 227);
    transition: .3s;

    &:hover {
      background-color: rgba(199, 74, 227, 0.3);
      color: #FFFFFF;
    }
  }


  // FORM HOME //
  .trash-form {
    background-color: transparent;
    border: 1.5px solid transparent;
    border-radius: 10px;
    width: 50px;
  }

  .form-control-v2 {
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    border-radius: 10px;
    width: 450px;
    height: 35px;
    transition: 0.5s;
    padding: 7px 10px 7px 20px;

    &:hover {
      box-shadow: 1px 1px 5px white;
      border: 2px solid white;
    }
  }

  .btn-home-fome {
    background-color: $coins-grey;
    border: 1.5px solid transparent;
    border-radius: 10px;
    width: 50px;
    transition: 0.5s;
    color: white;
    font-size: 20px;
    width: 450px;
    margin-right: 15px;

    &:hover {
      background-color: rgba(199, 74, 227, 0.3);
      border: 2px solid white;
    }
  }

  .btn-go-form {
    background-color: $coins-grey;
    border: 1.5px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    color: white;
    font-size: 15px;
    width: 50px;

    &:hover {
      background-color: rgba(199, 74, 227, 0.3);
      border: 2px solid white;
    }
  }

  .display-div-add-and-go {
    display: flex;
    justify-content: space-between;
  }

  .imgspline2 {
    width: 1220px;
    height: 471px;
  }
