.banner-add{
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 12% ;
  padding-right: 12% ;
  justify-content: space-between;
}

.banner {
  position: relative;
}

.imgform {
  width: 450px;
  height: 500px;
}

.search-go {
  margin-top: 15px;
}

.title-search {
  text-align: end;
}

.back-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
