.banner-add{
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 15% ;
  padding-right: 15% ;
  justify-content: space-between;
}

.imgform {
  width: 450px;
  height: 500px;
}
