.navbar-lewagon {
  justify-content: space-between;
  background: rgba(201, 201, 201, 0.25);
  position: absolute;
  top: 0;
  width: 100%;
  height: 74px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.display-nav {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.logo {
  color: white;
  margin: 0;
  margin-left: 15px;
  text-decoration: none;

  &:hover {
    color: #FFFFFF;
  }
}

.navbar-items {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: 15px;
  text-decoration: none;
  align-items: center;
}

.profile-image-navbar {
  border-radius: 100%;
  object-fit: cover;
  margin-left: 15px;
}
