.container-session {

  background-image : url("background-color.jpg");
  background-size: cover;
  background-position: center;

  h1 {
    color: #CC428A;
  }
}

.form-signin {
  background-color: black;
}

.title-center {
  text-align: center;
}
